@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media (min-width: 335px) {
  html {
    font-size: 22.33px;
  }
}
@media (min-width: 350px) {
  html {
    font-size: 23.33px;
  }
}
@media (min-width: 365px) {
  html {
    font-size: 24.33px;
  }
}
@media (min-width: 380px) {
  html {
    font-size: 25.33px;
  }
}
@media (min-width: 395px) {
  html {
    font-size: 26.33px;
  }
}
@media (min-width: 410px) {
  html {
    font-size: 27.33px;
  }
}
@media (min-width: 425px) {
  html {
    font-size: 28.33px;
  }
}
@media (min-width: 440px) {
  html {
    font-size: 29.33px;
  }
}
@media (min-width: 455px) {
  html {
    font-size: 30.33px;
  }
}
@media (min-width: 470px) {
  html {
    font-size: 31.33px;
  }
}
@media (min-width: 485px) {
  html {
    font-size: 32.33px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 33.33px;
  }
}
@media (min-width: 515px) {
  html {
    font-size: 34.33px;
  }
}
@media (min-width: 530px) {
  html {
    font-size: 35.33px;
  }
}
@media (min-width: 545px) {
  html {
    font-size: 36.33px;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 37.33px;
  }
}
@media (min-width: 575px) {
  html {
    font-size: 38.33px;
  }
}
@media (min-width: 590px) {
  html {
    font-size: 39.33px;
  }
}
@media (min-width: 505px) {
  html {
    font-size: 33.67px;
  }
}
@media (min-width: 520px) {
  html {
    font-size: 34.67px;
  }
}
@media (min-width: 535px) {
  html {
    font-size: 35.67px;
  }
}
@media (min-width: 550px) {
  html {
    font-size: 36.67px;
  }
}
@media (min-width: 565px) {
  html {
    font-size: 37.67px;
  }
}
@media (min-width: 580px) {
  html {
    font-size: 38.67px;
  }
}
@media (min-width: 595px) {
  html {
    font-size: 39.67px;
  }
}
@media (min-width: 610px) {
  html {
    font-size: 40.67px;
  }
}
@media (min-width: 625px) {
  html {
    font-size: 41.67px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 42.67px;
  }
}
@media (min-width: 655px) {
  html {
    font-size: 43.67px;
  }
}
@media (min-width: 670px) {
  html {
    font-size: 44.67px;
  }
}
@media (min-width: 685px) {
  html {
    font-size: 45.67px;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 46.67px;
  }
}
@media (min-width: 715px) {
  html {
    font-size: 47.67px;
  }
}
@media (min-width: 730px) {
  html {
    font-size: 48.67px;
  }
}
@media (min-width: 745px) {
  html {
    font-size: 49.67px;
  }
}
@media (min-width: 760px) {
  html {
    font-size: 50.67px;
  }
}
