@media (min-width: 320px) {
  html {
    font-size: 21.33px;
  }
}
@media (min-width: 335px) {
  html {
    font-size: 22.33px;
  }
}
@media (min-width: 350px) {
  html {
    font-size: 23.33px;
  }
}
@media (min-width: 365px) {
  html {
    font-size: 24.33px;
  }
}
@media (min-width: 380px) {
  html {
    font-size: 25.33px;
  }
}
@media (min-width: 395px) {
  html {
    font-size: 26.33px;
  }
}
@media (min-width: 410px) {
  html {
    font-size: 27.33px;
  }
}
@media (min-width: 425px) {
  html {
    font-size: 28.33px;
  }
}
@media (min-width: 440px) {
  html {
    font-size: 29.33px;
  }
}
@media (min-width: 455px) {
  html {
    font-size: 30.33px;
  }
}
@media (min-width: 470px) {
  html {
    font-size: 31.33px;
  }
}
@media (min-width: 485px) {
  html {
    font-size: 32.33px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 33.33px;
  }
}
@media (min-width: 515px) {
  html {
    font-size: 34.33px;
  }
}
@media (min-width: 530px) {
  html {
    font-size: 35.33px;
  }
}
@media (min-width: 545px) {
  html {
    font-size: 36.33px;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 37.33px;
  }
}
@media (min-width: 575px) {
  html {
    font-size: 38.33px;
  }
}
@media (min-width: 590px) {
  html {
    font-size: 39.33px;
  }
}
@media (min-width: 505px) {
  html {
    font-size: 33.67px;
  }
}
@media (min-width: 520px) {
  html {
    font-size: 34.67px;
  }
}
@media (min-width: 535px) {
  html {
    font-size: 35.67px;
  }
}
@media (min-width: 550px) {
  html {
    font-size: 36.67px;
  }
}
@media (min-width: 565px) {
  html {
    font-size: 37.67px;
  }
}
@media (min-width: 580px) {
  html {
    font-size: 38.67px;
  }
}
@media (min-width: 595px) {
  html {
    font-size: 39.67px;
  }
}
@media (min-width: 610px) {
  html {
    font-size: 40.67px;
  }
}
@media (min-width: 625px) {
  html {
    font-size: 41.67px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 42.67px;
  }
}
@media (min-width: 655px) {
  html {
    font-size: 43.67px;
  }
}
@media (min-width: 670px) {
  html {
    font-size: 44.67px;
  }
}
@media (min-width: 685px) {
  html {
    font-size: 45.67px;
  }
}
@media (min-width: 700px) {
  html {
    font-size: 46.67px;
  }
}
@media (min-width: 715px) {
  html {
    font-size: 47.67px;
  }
}
@media (min-width: 730px) {
  html {
    font-size: 48.67px;
  }
}
@media (min-width: 745px) {
  html {
    font-size: 49.67px;
  }
}
@media (min-width: 760px) {
  html {
    font-size: 50.67px;
  }
}
.mon_footer .footer_top {
  height: 0.68rem;
  line-height: 0.68rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
}
.mon_footer .footer_top a {
  font-size: 0.28rem;
  text-align: center;
  float: left;
}
.mon_footer .footer_top a:nth-child(-n+2) {
  width: 30%;
}
.mon_footer .footer_top a:last-child {
  width: 40%;
}
.mon_footer .footer_top a:last-child img {
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;
  margin-top: -0.1rem;
}
.mon_footer .footer_bottom {
  font-size: 0.24rem;
  color: #666;
  text-align: center;
  padding: 0.3rem 0;
}
.mon_footer .footer_bottom p:first-child a:first-child {
  color: red;
}
.mon_productlist .product_list li {
  padding: 0.28rem 0.16rem;
}
.mon_productlist .product_list a {
  display: block;
}
.mon_productlist .product_list .p_pic {
  width: 2.2rem;
  float: left;
}
.mon_productlist .product_list .p_pic img {
  width: 2rem;
  height: 2rem;
}
.mon_productlist .product_list .p_text {
  font-size: 0.3rem;
  padding-left: 1.8rem;
}
.mon_productlist .product_list .p_text .title {
  min-height: 1.14rem;
}
.mon_productlist .product_list .p_text .title span {
  color: #FF6C00;
}
.mon_productlist .product_list .p_text .info {
  vertical-align: bottom;
  font-size: 0.24rem;
  padding-top: 0.24rem;
  color: #A1A1A3;
}
.mon_productlist .product_list .p_text .info span:last-child {
  float: right;
}
.mon_productlist .product_list .p_text .info span:last-child .i-common {
  width: 0.32rem;
  height: 0.32rem;
  vertical-align: bottom;
  margin-right: 0.08rem;
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17'><path fill='#a1a1a1' d='M924.504962 664.898711 97.819886 664.898711c-17.557888 0-31.795147-14.241352-31.795147-31.795147l0-508.732583c0-17.557888 14.238282-31.792077 31.795147-31.792077l241.198387 0 149.664671-149.661601c6.209422-6.212492 14.34266-9.31618 22.478967-9.31618s16.269545 3.102664 22.479991 9.31618L683.306574 92.57788l241.198387 0c17.557888 0 31.795147 14.235213 31.795147 31.792077L956.300109 633.10254C956.300109 650.657358 942.061826 664.898711 924.504962 664.898711zM892.708791 156.169197l-222.569098 0c-8.428973 0-16.518209-3.354398-22.478967-9.31618l-136.498814-136.494721-136.498814 136.494721c-5.961782 5.961782-14.051017 9.31618-22.479991 9.31618l-222.569098 0L129.61401 601.304324l763.093758 0L892.707768 156.169197zM288.592814 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0ZM511.161912 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0ZM733.73101 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
}
.mmp_header {
  height: 1rem;
  background-color: #FF841D;
}
.mmp_header .logo {
  height: 1rem;
  float: left;
  line-height: 75%;
  padding-left: 0.34rem;
}
.mmp_header .logo img {
  height: 0.5rem;
}
.mmp_header .down {
  height: 1rem;
  float: right;
  line-height: 75%;
  padding-right: 0.16rem;
}
.mmp_header .down img {
  height: 0.68rem;
}
.footer_top {
  height: 0.68rem;
  line-height: 0.68rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
}
.footer_top a {
  font-size: 0.28rem;
  text-align: center;
  float: left;
}
.footer_top a:nth-child(-n+2) {
  width: 30%;
}
.footer_top a:last-child {
  width: 40%;
}
.footer_top a:last-child img {
  width: 0.3rem;
  height: 0.3rem;
  vertical-align: middle;
  margin-top: -0.1rem;
}
.footer_bottom {
  font-size: 0.24rem;
  color: #666;
  text-align: center;
  padding: 0.3rem 0;
}
.footer_bottom p:first-child a:first-child {
  color: red;
}
.header_back {
  height: 1rem;
  float: left;
  width: 0.8rem;
}
.filter {
  height: 0.76rem;
  position: relative;
}
.filter .filters {
  overflow: hidden;
}
.filter .filters li {
  float: left;
  line-height: 37px;
  width: 33%;
  display: box !important;
  position: relative;
  -webkit-box-flex: 1;
  box-flex: 1;
  box-sizing: border-box;
}
.filter .filters li a {
  position: relative;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  box-align: center;
  box-pack: center;
}
.filter .filters li i {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17' height='17'><path fill='#565656' d='M277.44 194.72 528.213333 445.386667 778.88 194.72Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: 22px 22px;
  background-position: center center;
}
.filter .filters li.on i {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17' height='17'><path fill='#565656' d='M778.88 445.386667 528.106667 194.72 277.44 445.386667Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
}
.filter .search {
  width: 46px;
  height: 37px;
  position: relative;
  float: right;
  border-bottom: 1px solid #dadada;
  text-align: center;
  border-left: 1px solid #dadada;
  margin-top: 14px;
}
.filter .filter_select {
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 59px;
  box-shadow: 0px 3px 6px #dddddd;
  display: none;
  font-size: 16px;
}
.filter .filter_select ul li {
  border-bottom: 1px solid #dadada;
  border-width: 0 0 1px 0;
  position: relative;
}
.filter .filter_select ul li a {
  display: block;
  line-height: 40px;
  padding: 0px 10px;
}
.filter .filter_select ul li.on:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='20' height='20'><path fill='#ff4400' d='M959.94666 564.447904 899.86426 624.530304 370.356514 95.046095 124.134717 341.268916 64.052317 281.187539 361.641015-16.402183 370.051569-24.529281 379.068943-16.402183Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
  background-repeat: no-repeat;
  -webkit-background-size: 20px auto;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}
.product_list li {
  float: left;
  width: 50%;
}
.product_list li a {
  display: block;
  margin: 4px;
  background-color: #ffffff;
}
.product_list li .pic {
  width: 100%;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.product_list li .pic img {
  max-width: 100%;
  height: auto;
}
.product_list li .title {
  color: #333333;
  word-break: break-all;
  padding: 0 6px;
  height: 14px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 10px;
  line-height: 14px;
  font-weight: normal;
  text-align: left;
  margin-top: 6px;
}
.product_list li .info {
  padding: 6px;
}
.product_list li .info .pirce {
  float: left;
  color: #f8601d;
  font-size: 20px;
}
.product_list li .info .gocoudan {
  float: right;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 3px;
  background-color: #ff9501;
  padding: 4px 10px;
  text-decoration: none;
  display: inline-block;
}
